<div>
  <h2>
    <%= link_to("/categories/", class: "nav-links back") do %>
      <%= image_tag("http://downloadicons.net/sites/default/files/returns--icon-30696.png") %>
    <% end %>
  </h2>
  <h2>
    <%= link_to("/", class: "nav-links home") do %>
      <%= image_tag("http://www.bestpeer.com/img/home.png") %>
    <% end %>
  </h2>
</div>
