@import 'variables';

.main-header {
  display: block;
  float: right;
  text-align: right;
  font-family: $font-family;
  padding: 25px 5px;
  .button {
    width: 170px;
    height: 15px;
    background: $button-color;
    box-shadow: 3px 3px 10px $banner-color-light;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: $text-color;
    text-decoration: none;

  }
  .button:hover {
    box-shadow: 10px 10px 500px white;
    transition: all 1s;
  }
}
