<div>

  <% categories.each do |cats| %>

    <div class="index_transbox">

      <%= link_to("/categories/#{cats.id}") do %>
        <%= image_tag(cats.cat_url) %>
      <% end %>

      <h3 class="item">
        <%= link_to cats.title, "/categories/#{cats.id}" %>
      </h3>

    </div>

  <% end %>

</div>
