<div>
  <h2><a href="/products/" class="nav-links back"> <img src="http://www.primalcom.com/images/Icon-arrow-right.png"/> </a>
  <h2><a href="/" class="nav-links home">  <img src="http://www.bestpeer.com/img/home.png"/> </a></h2>
</div>

<div>

  <% categories.each do |cats| %>

    <div class="index_transbox">

      <%= link_to("/categories/#{cats.id}") do %>
        <%= image_tag(cats.cat_url) %>
      <% end %>

      <h3 class="item">
        <%= link_to cats.title, "/categories/#{cats.id}" %>
      </h3>

    </div>

  <% end %>

</div>
